/*==================Fonts=======================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: 16px;
}
@font-face {
    font-family: Miama;
    src: url("fonts/Miama.ttf");
}
/*====Shared Styles=====*/
body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}
.common-width{
    max-width: 1060px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.section-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
section{
    margin: 100px 0px;
}

/*=====Header Styles from here========*/
.navigation{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.toggle{
    display: none;
}
header{
    max-width: 1060px;
    margin: 0 auto;
}
.navigation ul li{
    align-items: center;
    justify-content: center;
}
.menu-container{
    justify-content: space-between;
    align-items: center;
    
}
.navigation ul li{
    list-style-type: none;
    float: left;
    padding: 12px 20px 10px;
}
ul:first-child{
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
}
.navigation ul li a{
    text-decoration:none;
    color: white;
    font-size: 1.1rem;
    
}
.logo{
    color: #E6533C;
    font-size: 2.1rem;
    font-weight: 800;
}
.navigation .active{
    background-color: #E6533C;
    padding: 10px 15px;
    border-radius: 46px;
    font-weight: 600;
}
/*========Banner Start from here========*/
.banner-container{
    justify-content: space-between;
    align-items: center;
    gap:87px;
    margin: 32px 0px 100px 0px;
}
.banner-content{

}
.banner-title{
    font-size: 4.9rem;
    font-weight: 700;
    padding-right: 90px;
    margin-bottom: 10px;
}
.banner-description{
    padding-right: 100px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
.btn-primary{
    background-color: #E6533C;
    border-radius: 42px;
    color: white;
    padding: 10px 40px;
    font-size: 1.1rem;
    font-weight: 600px;
    border:none;
}
.btn-download{
    background-color: black;
    border-radius: 42px;
    color: white;
    padding: 10px 40px;
    font-size: 1.1rem;
    font-weight: 600px;
    border:1px solid white;
}

.banner-image{
    position: relative

}
.video-tutorial{
    align-items: center;
    text-align: left;
    gap:20px;
    color: white;
    background-color: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 400px;
    left: -60px;
    padding: 10px 23px;
    border-radius: 12px;
   
}
.free-workout{
    color: white;
    background-color: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 125px;
    right: -40px;
    padding: 20px 23px;
    border-radius: 12px;
}
#miami-font{
    font-size: 4.9rem;
    font-weight: 400;
    font-family: Miama;
}
#workout-video-number{
    font-size: 2.5rem;
    font-weight: 700;
}
#tutorial-number{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3px;
}
.circle{
    color: red;
    font-size: 30px;
    background-color: red;
    border-radius: 50%;
}
/*==================Habits section styles from here==================*/
.habit-container{
    text-align: center;
}
.habits-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    gap: 20px;
    
}
.habit-card{}
.habit-card img{
    border-radius: 100%;
}
.ard-title{
    font-size: 1.2rem;
    font-weight: 600;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
}
/*==============Run an Extra Styles from here================*/
.run-an-extra-container{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    padding: 50px;
    gap: 165px;

}
.run-content{

}
.run-image img{
    width: 100%;
    border-radius: 18px;
}

/*=============Training and Exercise==============*/
.training-container{

}
.single-thumbnail-1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.single-thumbnail-1 img{
    width: 100%;
    height: 100%;

}

.single-image-1, .single-image2, .single-image3, 
.single-thumbnail-image-1, .single-thumbnail-image2, .single-thumbnail-image3{
    position: relative;
    width: 100%;
    height: 100%;
}
.opacity{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
}
.single-title-1{
    position: absolute;
    z-index: 5;
    top: 150px;
    left: 20px;
    color: black
}

.opacity2{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}
.single-title-2{
    position: absolute;
    z-index: 5;
    top: 30px;
    left: 30px;
}

.opacity3{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.single-title-3{
    position: absolute;
    z-index: 5;
    top: 150px;
    left: 30px;
}
/*========single-thumbnail-2 styles from here===========*/
.single-thumbnail-2{
    display: grid;
    grid-template-columns: 1.8fr 1fr 1.2fr;
}
.single-thumbnail-2 img{
    width: 100%;
    height: 100%;
}
.opacity-thumbnail-2-1{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.single-title-thumbnail-2-1{
    z-index:1;
    position: absolute;
    top: 30px;
    left: 230px;
}
.single-title-thumbnail-2-2, .single-title-thumbnail-2-3{
    z-index:1;
    position: absolute;
    top: 190px;
    left: 30px;
}

.opacity-thumbnail-2-2{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 255, 0, 0.3);
}
.opacity-thumbnail-2-3{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 71, 255, 0.3);
}
/*Calculator start from here*/
.calculator-container{
    max-width: 671px;
    margin: 0 auto;
}
/*=======BMI chart Styles=======*/
.bmi-container-bg{
    background-color: #222222;
}
.bmi-container{
    padding-bottom: 30px;
}
.bmi-chart{
    max-width: 40%;
}
.bmi-calculator{
    max-width: 60%;
}
.bmi-container{
    gap:60px;
}

table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 30px;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
}
.calculator-description{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-calculator input[type="text"]{
    height: 30px;
    display: inline-block;
    width: 46.5%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.select-option{
    height: 40px;
    display: inline-block;
    width: 49.5%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 5px 0px 5p 5px;
    margin-bottom: 10px;
}
#activity-selector{
    height: 40px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 5px 0px 5px 5px;
    margin-bottom: 10px;
}
.btn-calculator{
    color: white;
    background-color: #E6533C;
    padding: 10px 40px;
    border-radius: 42px;
    border: none;
    margin-top: 20px;
}
.chart-title, .calculator-section{
    font-size: 1.9rem;
}
/*=========Team sections styles here========*/
.meet-team-container{
    
}
.alignment{
    text-align: center;
}
.team-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 58px;
}
.single-card img{
    width: 326px;
    height: 272px;
    border-radius: 18px;
}
.single-card{
    position: relative;
    width: 326px;
    height: 272px;
    
}
.card-content{
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 20px;
}
.content-bg{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.2);
}
.team-card-title{
    margin-bottom: 3px;
    font-size: 1.3rem;
    font-weight: 700;
}
.team-card-description{
    margin-top: 3px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}
/*=====Footer section styles here=========*/
.fitness-area{
    margin-top: 100px;
    margin-bottom: 50px;
}
.fitness-container{
    display: grid;
    grid-template-columns: repeat(2, 40% 60%);
    gap: 100px;
    
}
.fitness-card{

}
.fitness-card ul li{
    list-style-type: none;
    margin-left: -39px;
    padding-top: 15px;
    
}
.fitness-card ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.fitness-logo{
    color: #E6533C;
    font-size: 4.2rem;
    margin-top: 0px;
    margin-bottom: 10px;
}
.copy-right> hr{
    margin: 50px 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.copy-right{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
/*=======Get started styles here=====*/
.get-started-container{
    justify-content: space-around;
    gap: 50px;
}
/*=====Responsive for mobile device=========*/
@media screen and (max-width: 576px) {
    /*nav section*/
    .menu-container{
        margin: 20px 30px;
        justify-content: space-between;
    }
    .navigation>ul li {
        display: none;
    }
     /*===responsive menu==*/
     .responsive-menu:checked ~ .navigation2{
        display: block;
    }
    .toggle{
        display: block;
        font-size: 25px;
        cursor:pointer;
    }
    .responsive-icon:hover + .navigation>ul li{
        display: block;
    }
    .banner-container{
        flex-direction: column;
        margin: 0px 30px;
    }
   
    .banner-title{
        font-size: 2.1rem;    
    }
    .habits-cards-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 40px;
    }
    .section-title{
        font-size: 2.1rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .run-an-extra-container{
        flex-direction: column;
        gap: 25px;
    }
    #btn-primary{
        width: 100%;
    }
    .single-thumbnail-1, .single-thumbnail-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .single-thumbnail-image3, .single-image3, .single-title-thumbnail-2-3{
        display: none;
    }
    .single-title-thumbnail-2-2{
        font-size: 0.8rem;
        top: 80px;
        left: 10px;
    }
    .training-container{
        margin-left: 20px;
        margin-right: 20px;
    }
    .single-thumbnail-1, .single-thumbnail-2 img{
        width: 100%;
        height: 100%;
    }
    .single-title-thumbnail-2-1{
        top: 80px;
        left: 10px;
        font-size: 0.8rem;
    }
    .single-title-1{
        font-size: 0.9rem;
        top: 80px;
        left: 10px;
    }
    .bmi-container{
        flex-direction: column;
        margin: 0px 10px;
    }
    .bmi-chart, .bmi-calculator{
        max-width: 100%;
    }
    #activity-selector{
        width: 100%;
    }
    .select-option{
        width: 48.9%;
    }
    .bmi-calculator input[type="text"]{
        width: 44%; 
    }
    .team-cards-container{
         grid-template-columns: repeat(1, 1fr);
         justify-items: center;
    }
    .fitness-container{
        grid-template-columns: 1fr;
        margin-left: 30px;
    }
    .get-started-container{
        flex-direction: column;
    }
    .get-start-title{
        font-size: 2rem;
        font-weight: 700;
    }  
    .fitness-card ul li a{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .video-tutorial{
        left: -20px;
    }
}


/*=======Responsive for tablet device========*/

@media screen and (min-width: 576px) and (max-width: 992px) {
   
    .banner-container, .menu-container{
        margin: 0px 40px;
    }
    .habits-cards-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 40px;
    }
    .banner-title{
        font-size: 4.2rem;    
    }
    .single-title-thumbnail-2-1, .single-title-thumbnail-2-2, .single-title-thumbnail-2-3, .single-title-3{
        top: 150px;
        left: 10px;
        font-size: 0.9rem;
    }
    .bmi-container{
        flex-direction: column;
        margin: 0px 10px;
    }
    .bmi-chart, .bmi-calculator{
        max-width: 100%;
    }
    .select-option{
        width: 49.5%;
    }
    .bmi-calculator input[type="text"]{
        width: 47.4%; 
    }
    .team-cards-container{
         
    }
    .single-card{
        width: 270px;
        height: 272px;
    }
    .single-card img{
        width: 100%;
        height: 100%;
    } 
    .fitness-container{
        grid-template-columns: 1fr;
        margin-left: 30px;
    }
    .get-started-container{
        justify-content: start;
        gap:60px;
    }
    .fitness-card{
        width: 443px;
    }
    .get-start-title{
        font-size: 2rem;
        font-weight: 700;
    }  
    .fitness-card ul li a{
        font-size: 1.5rem;
        font-weight: 400;
    }  
}